package ${package}.${appName}.${moduleName}. entity;

import com.baomidou.mybatisplus.annotation.*;
import com.baomidou.mybatisplus.extension.activerecord.Model;
import com.fasterxml.jackson.annotation.JsonFormat;
import io.swagger.annotations.ApiModelProperty;
import lombok.Data;
import lombok.EqualsAndHashCode;
import lombok.experimental.Accessors;
import org.springframework.format.annotation.DateTimeFormat;

import java.util.Date;

/**
 * ${comments}的实体类
 *
 * @author ： ${author}
 * @description ：${comments}的实体类
 * @date ： ${datetime}
 * @Version ：${version}
 */
#set($params=["id"])
@Data
@EqualsAndHashCode(callSuper = false)
@Accessors(chain = true)
@TableName("${tableName}")
public class ${className} extends Model<${className}> {

private static final long serialVersionUID=1L;

@ApiModelProperty("主ID")
@TableId(value = "id", type = IdType.ASSIGN_UUID)
private String id;

#foreach ($column in $columns)

    #set ($show=false)
    #foreach ($param in $params)
        #if($column.attrname == $param)
            #set ($show=true)
        #end
    #end

    #if($show == false)

        #if($column.attrname == "createTime")

        /**
         * $column.comments
         */
        @ApiModelProperty("$column.comments")
        @TableField(fill = FieldFill.INSERT)
        @DateTimeFormat(pattern = "yyyy-MM-dd HH:mm:ss")
        @JsonFormat(shape = JsonFormat.Shape.STRING, pattern = "yyyy-MM-dd HH:mm:ss", timezone = "GMT+8")
        private Date $column.attrname;

        #elseif($column.attrname == "createBy")

        /**
         * $column.comments
         */
        @ApiModelProperty("$column.comments")
        @TableField(fill = FieldFill.INSERT)
        private $column.javaType $column.attrname;

        #elseif($column.attrname == "updateTime")

        /**
         * $column.comments
         */
        @ApiModelProperty("$column.comments")
        @TableField(fill = FieldFill.INSERT_UPDATE)
        @DateTimeFormat(pattern = "yyyy-MM-dd HH:mm:ss")
        @JsonFormat(shape = JsonFormat.Shape.STRING, pattern = "yyyy-MM-dd HH:mm:ss", timezone = "GMT+8")
        private Date $column.attrname;

        #elseif($column.attrname == "lastModifiedBy")

        /**
         * $column.comments
         */
        @ApiModelProperty("$column.comments")
        @TableField(fill = FieldFill.INSERT_UPDATE)
        private $column.javaType $column.attrname;

        #else

        /**
         * $column.comments
         */
        @ApiModelProperty("$column.comments")
        private $column.javaType $column.attrname;
        #end


    #end
#end
}
