package ${package}.${appName}.${moduleName}.service;

import com.baomidou.mybatisplus.extension.service.IService;
import com.rbgt.jw.entity.${className};
/**
 * ${comments}接口业务逻辑接口
 *
 * @author ： ${author}
 * @date : ${datetime}
 * @description ：${comments}接口业务逻辑接口
 * @Version ${version}
 */
public interface  ${className}Service extends IService<${className}>  {

}

