package ${package}.${appName}.${moduleName}.service;

import com.yiautos.framework.mybatis.base.service.BaseService;

/**
 * ${comments}接口业务逻辑接口
 *
 * @author ： ${author}
 * @date : ${datetime}
 * @description ：${comments}接口业务逻辑接口
 * @Version ${version}
 */
public interface  ${className}Service extends BaseService<${className}>  {

}

